<!DOCTYPE html>
<html>
  <head>
    <title>Unijournal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'react_entry' %>
  </head>

  <body>
    <%= yield %>
    <script>
     /* window.pageState = <%= client_state.to_json.html_safe %> */
    </script>
  </body>
</html>
